@model BusTicketBookingSystem.Entities.Models.Seat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Seat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bus.NrReg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bus.NrReg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passenger.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passenger.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
